.dark-background {
    background-color:black;
    color: white;
  }
  
.light-background{
    background-color: white;
    color: black;
}
.text-box{
    display: none;
    border: 15px solid green;
    
}
.text-noBox{
 
}